<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="directory" value="C:\Users\choos\Documents\Dicord bots\Smoothy 1.2"/>
		<add key="run.batfilename" value="C:\Users\choos\Documents\Dicord bots\Smoothy 1.2\run.bat"/>
		<add key="errorlogfilename" value="C:\Users\choos\Documents\Dicord bots\Smoothy 1.2\error log.txt"/>
	</appSettings>
</configuration>