<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="directory" value="C:\Users\choos\Documents\my programs\Dicord bots\Smoothy\build"/>
		<add key="run.batfilename" value="C:\Users\choos\Documents\my programs\Dicord bots\Smoothy\build\run.bat"/>
		<add key="errorlogfilename" value="C:\Users\choos\Documents\my programs\Dicord bots\Smoothy\RunSmoothy\error log.txt"/>
	</appSettings>
</configuration>